<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Redes sociales</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>
  <body>
    <div class="container mt-5">
        <h1>Redes sociales</h1>

        <div class="col-md-4">
            <div class="btn-group btn-group-lg mt-2 d-flex mx-auto px-5" role="group" aria-label="Large button group">
                {% if LINK_TWITTER %}
                <button type="button" class="btn btn-outline-dark">
                    <a href={{ LINK_TWITTER }}><i class="bi bi-twitter"></i></a>
                </button>
                {% endif %}
                {% if LINK_DISCORD %}
                <button type="button" class="btn btn-outline-dark">
                    <a href={{ LINK_DISCORD }}><i class="bi bi-discord"></i></a>
                </button>
                {% endif %}
                {% if LINK_SLACK %}
                <button type="button" class="btn btn-outline-dark">
                    <a href={{ LINK_SLACK }}><i class="bi bi-slack"></i></i></a>
                </button>
                {% endif %}
                {% if LINK_FACEBOOK %}
                <button type="button" class="btn btn-outline-dark">
                    <a href={{ LINK_FACEBOOK }}><i class="bi bi-facebook"></i></a>
                </button>
                {% endif %}
                {% if LINK_INSTAGRAM %}
                <button type="button" class="btn btn-outline-dark">
                    <a href={{ LINK_INSTAGRAM }}><i class="bi bi-instagram"></i></a>
                </button>
                {% endif %}
                {% if LINK_LINKEDIN %}
                <button type="button" class="btn btn-outline-dark">
                    <a href={{ LINK_LINKEDIN }}><i class="bi bi-linkedin"></i></a>
                </button>
                {% endif %}
            </div>
        </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>